{% extends 'base.html' %}

{% block content %}


    <div class="text-center mw-500 m-auto">
        <div class="m-5">
                <img src="{{ target_emotion.image.url }}"
                     class="profile_image m-4"
                     alt="profile image">
                <h2 class="NNS_B">
                    {{ target_emotion.title }}
                </h2>
                <h5>{{ target_emotion.description }}</h5>
        </div>
        {% if target_emotion.writer == user %}
                <div>
                    <a href="{% url 'emotionapp:update' pk=target_emotion.pk %}"
                       class="btn btn-success rounded-pill px-5">
                        Update
                    </a>
                    <a href="{% url 'emotionapp:delete' pk=target_emotion.pk %}"
                       class="btn btn-danger rounded-pill px-5">
                        Delete
                    </a>
                </div>
        {% endif %}
    </div>

    <div>
        {% include 'snippets/list_fragment.html' with object_list=object_list %}
    </div>

{% endblock %}